<div class="relative inline-block text-left group">
  <div>
    <button class="text-white gap-x-1.5 rounded-md px-3 py-2 text-sm font-medium" id="menu-button" aria-expanded="true" aria-haspopup="true">
      {{ text }}
    </button>
  </div>
  <div class="group-hover:visible invisible absolute left-0 z-10 mt- w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
    role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1"
  >
    <div class="py-1" role="none">
      <a *ngFor="let item of items" href="#" class="text-gray-700 hover:bg-gray-100 block px-4 py-1 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">{{ item }}</a>
    </div>
  </div>
</div>