<footer class="dark:bg-gray-900">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a href="https://codegeekmoto.com" class="flex items-center justify-center mb-4 sm:mb-0">
        <img src="/assets/images/codegeekmoto-light.png" class="h-8 mr-3 logo" alt="Codgeekmoto" />
      </a>
      <div class="flex flex-col items-center">
        <small class="dark:text-gray-400">Powered By</small>
        <div class="flex justify-center items-center space-x-10 mt-2">
          <img src="/assets/images/angular.svg" class="h-12" alt="Codgeekmoto"  />
          <img src="/assets/images/tailwindcss.svg" class="h-8" alt="Codgeekmoto"  />
          <img src="/assets/images/tmdb.svg" class="h-7" alt="Codgeekmoto"  />
        </div>
      </div>
      <ul class="flex flex-wrap items-center mt-5 justify-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
        <li>
          <a href="https://codegeekmoto.com" class="mr-4 hover:underline md:mr-6 ">About</a>
        </li>
        <li>
          <a href="https://codegeekmoto.com" class="mr-4 hover:underline">Contact</a>
        </li>
        <li>
          <a href="https://codegeekmoto.com" class="hover:underline">Github</a>
        </li>
      </ul>
    </div>
    <hr class="border-gray-200 dark:border-gray-700 my-6" />
    <span class="block text-sm text-gray-500 text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:underline">Codegeekmoto™</a>. All Rights Reserved.</span>
  </div>
</footer>